<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/STYLES/basic_temp_oters.css">
</head>

<body>
    <%- include('../../basic_template_user.ejs') -%>
    <div class="container_fashion">
        <div class="fashion">
            <div class="container">
                <!-- Product 1 -->
                <div class="product">
                    <img src="/images/product_1.png" alt="Product 1">
                    <h3>Product 1</h3>
                    <p>$20</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9733;&#9733; <!-- Five star rating -->
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="product">
                    <img src="/images/product_2.png" alt="Product 2">
                    <h3>Product 2</h3>
                    <p>$30</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9733;&#9734; <!-- Four star rating -->
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="product">
                    <img src="/images/product_3.png" alt="Product 3">
                    <h3>Product 3</h3>
                    <p>$25</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9734;&#9734; <!-- Three star rating -->
                    </div>
                </div>

                <div class="product">
                    <img src="/images/product_4.png" alt="Product 1">
                    <h3>Product 1</h3>
                    <p>$20</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9733;&#9733; <!-- Five star rating -->
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="product">
                    <img src="/images/product_5.png" alt="Product 2">
                    <h3>Product 2</h3>
                    <p>$30</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9733;&#9734; <!-- Four star rating -->
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="product">
                    <img src="/images/product_6.png" alt="Product 3">
                    <h3>Product 3</h3>
                    <p>$25</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9734;&#9734; <!-- Three star rating -->
                    </div>
                </div>

                <div class="product">
                    <img src="/images/product_7.png" alt="Product 1">
                    <h3>Product 1</h3>
                    <p>$20</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9733;&#9733; <!-- Five star rating -->
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="product">
                    <img src="/images/product_8.png" alt="Product 2">
                    <h3>Product 2</h3>
                    <p>$30</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9733;&#9734; <!-- Four star rating -->
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="product">
                    <img src="/images/product_9.png" alt="Product 3">
                    <h3>Product 3</h3>
                    <p>$25</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9734;&#9734; <!-- Three star rating -->
                    </div>
                </div>


                <div class="product">
                    <img src="/images/product_10.png" alt="Product 3">
                    <h3>Product 3</h3>
                    <p>$25</p>
                    <div class="rating">
                        &#9733;&#9733;&#9733;&#9734;&#9734; <!-- Three star rating -->
                    </div>
                </div>


                <!-- Add more products here -->
            </div>
        </div>
        </div>
</body>

</html>